<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Naredi novo opravilo
      </h1>
  
      <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Vpiši ime opravila...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Prekliči</button>
        <button class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)">Ustvari</button>
      </div>
  
      
    </div>
  </div>